<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
  </style>
</head>
<body>
  <div class="login-container">
    <h2 style="color:#00304C;">Login</h2>
    <form action="/login" method="post">
      <input class="input-field" type="text" placeholder="Username" name="username" required>
      <input class="input-field" type="password" placeholder="Password" name="password" required>
      <button class="submit-btn" type="submit">Login</button>
    </form>
  </div>
</body>
</html>
