<div class="center" style="position: absolute; top: 50%; transform: translateY(-50%); width: 100%; text-align: center; margin: 0; ">
    <h1>Unauthorized Access</h1>
    <p>Maaf, Anda tidak memiliki izin untuk mengakses halaman ini.
        <% if (messages.length != 0) { %>
            <%- messages %>
        <% } %>
    </p>
</div>
